@{
}

@model List<Group>

@*Show all appointments that have been booked. Include an Edit and Delete button*@

<div>
    <table class="table table-bordered table-striped">
        <thead class="font-weight-bold">
            <tr>
                <td>Appointment Id</td>
                <td>Date</td>  
                <td>Time</td>
                <td>Group Name</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>

        <tbody>



            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.AppointmentId</td>
                    <td>@x.Appointment.Time</td>
                    <td>@x.Appointment.Time.TimeOfDay</td>
                    <td>@x.Name</td>
                    <td><a asp-controller="Home" asp-action="Edit" asp-route-appointmentId="@x.AppointmentId">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-grp="@x.AppointmentId">Delete</a></td>
                </tr>

            }
        </tbody>
    </table>
</div>